<h1>Bienvenido, @ViewBag.NombreUsuario</h1>
@if(ViewBag.listaTareas == null){
    <p>No hay tareas</p>
}
else{
 @foreach (Tarea tarea in ViewBag.ListaTareas)
{
    if (tarea.Eliminada != true) // o tarea.Activa == true
        {
            <div style="margin-bottom:10px;">
                <form method="post" action='@Url.Action("ModificarDescripcion", "Home")' style="display:inline;">
                    <input type="hidden" name="ID" value="@tarea.ID" />
                    <input type="text" name="NuevaDescripcion" value="@tarea.Descripcion" @(tarea.Finalizada ? "readonly" : "") />
                    <input type="submit" value="Modificar" @(tarea.Finalizada ? "disabled" : "") />
                </form>
                @if (tarea.Finalizada)
                {
                    <span style="color: green;">(Finalizada)</span>
                }
                <form method="post" action='@Url.Action("EliminarTarea", "Home")' style="display:inline;">
                    <input type="hidden" name="ID" value="@tarea.ID" />
                    <input type="submit" value="Eliminar"  />
                </form>
                @if (!tarea.Finalizada)
                {
                    <form method="post" action='@Url.Action("FinalizarTarea", "Home")' style="display:inline;">
                        <input type="hidden" name="ID" value="@tarea.ID" />
                        <input type="submit" value="Finalizar" />
                    </form>
                }
            </div>
        }
}
}
<form action = '@Url.Action("CrearTarea", "Home")' method =  "POST" enctype = "multipart/form-data">
        <input type ="text" name = "Descripcion"/>
        <input type ="submit" value = "Guardar"/>
    </form>